.bg-color {
    background-color: rgba(79, 218, 111, 0.37);
}

nav a {
    color: black !important;
}
nav a:hover {
    color: white !important;
    border-radius: 5px;
}
/* ===================================================================================================== */
/* >>>>> Trang Chủ <<<<< */
h6:hover {
    color: rgb(247, 166, 90);
}
/* ===================================================================================================== */
/* >>>>> Liên Hệ <<<<< */
.bg-service {
    background-color: rgb(249, 250, 249);
    /* background-color: rgb(95, 230, 155); */
    border-radius: 5px;
}
.icon {
    color: rgb(247, 166, 90);
}
/* ===================================================================================================== */
/* >>>>> Đăng Nhập <<<<< */
.sign-in:hover {
    color: rgb(5, 214, 5) !important;
}
/* ===================================================================================================== */
/* >>>>> Sản Phẩm <<<<< */
.bg-product {
    color: rgb(80, 216, 46);
    background-color: rgba(0, 0, 0, 0.438);
}
/* ===================================================================================================== */
/* >>>>> Giới Thiệu <<<<< */
.justify {
    text-align: justify;
}
/* ===================================================================================================== */
/* >>>>> Giỏ Hàng <<<<< */
